In [1]:
#PANDAS
#pandas is a open source data analysis library written in python.
#it leverages the power and speed of numpy to make data analysis and preprocessing easy for data scientists.
#it provides rich and highly robust data operations.

In [2]:
#pandas has two types of data strutures:
#1. series- it is one dimensional array with indexes, it stores a single column or row of data in a dataframe.
#2.DataFrame- it is a tabular spreadsheet like structure representing rows each of which contains one or multiple columns.

#one dimensional array capable of holding any type of data- series
#two dimensional data structure with column of potentially different types of data- DataFrame

In [3]:
import numpy as np
import pandas as pd
dict1= {
    "name":['harry','rohan','skillf','shubh'],
    "marks":[12,34,24,67],
    "city":["rampur","aaa","bbb","ccc"]
}
    
df=pd.DataFrame(dict1)
df

     name  marks    city
0   harry     12  rampur
1   rohan     34     aaa
2  skillf     24     bbb
3   shubh     67     ccc

In [4]:
import numpy as np
import pandas as pd
dict1={
    "name":['ddd','sss','ccc'],
    "ph no":[1234,4567,6789],
    "address":['asdxdfdef','hdjhbhjd','hddasdguy']
}
pp=pd.DataFrame(dict1)
pp

  name  ph no    address
0  ddd   1234  asdxdfdef
1  sss   4567   hdjhbhjd
2  ccc   6789  hddasdguy

In [5]:
pp.head(2)       #to show first two rows

  name  ph no    address
0  ddd   1234  asdxdfdef
1  sss   4567   hdjhbhjd

In [6]:
pp.tail(2)   #to show last two rows

  name  ph no    address
1  sss   4567   hdjhbhjd
2  ccc   6789  hddasdguy

In [7]:
pp.describe()   #for a statistical analysis

             ph no
count     3.000000
mean   4196.666667
std    2795.955353
min    1234.000000
25%    2900.500000
50%    4567.000000
75%    5678.000000
max    6789.000000

In [8]:
import numpy as np
import pandas as pd
dict1={
    "train no":[1234,3456,5678],
    "speed":[44,45,57],
    "city":['rampur','indore','bhopal']
}
train=pd.DataFrame(dict1)

train

   train no  speed    city
0      1234     44  rampur
1      3456     45  indore
2      5678     57  bhopal

In [9]:
train['speed']  #to get any one column

0    44
1    45
2    57
Name: speed, dtype: int64

In [10]:
train['speed'][0]  #to get the data of a particular coordinate.

44

In [11]:
train['speed'][0]=50  #to change the value of a kernel.
train

<ipython-input-11-ae3f8ae17a96>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['speed'][0]=50  #to change the value of a kernel.

   train no  speed    city
0      1234     50  rampur
1      3456     45  indore
2      5678     57  bhopal

In [12]:
train.index=['first','second','third']  #to change or customize the indexing.
train

        train no  speed    city
first       1234     50  rampur
second      3456     45  indore
third       5678     57  bhopal

In [13]:
ser=pd.Series(np.random.rand(34))   #to get a series.
ser                                 #Series ek data structure hota hai pandas ka 
type(ser)

pandas.core.series.Series

In [14]:
newdd= pd.DataFrame(np.random.rand(334,5),index=np.arange(334)) #dataframe of random numbers with 334 rows and 5 columns.
newdd

            0         1         2         3         4
0    0.321842  0.727668  0.219727  0.723347  0.479049
1    0.672552  0.957207  0.932130  0.408776  0.680243
2    0.059311  0.788649  0.037650  0.827825  0.229384
3    0.765700  0.567428  0.449096  0.934590  0.453232
4    0.505044  0.510695  0.433856  0.090491  0.883064
..        ...       ...       ...       ...       ...
329  0.229009  0.379761  0.331954  0.760971  0.926863
330  0.259513  0.726546  0.724057  0.252669  0.003917
331  0.693129  0.449905  0.814045  0.266732  0.083985
332  0.679113  0.291298  0.477671  0.351300  0.615039
333  0.138034  0.428231  0.305740  0.753644  0.852804

[334 rows x 5 columns]

In [15]:
type(newdd)

pandas.core.frame.DataFrame

In [16]:
newdd.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.527468    0.519000    0.487624    0.513998    0.510800
std      0.288230    0.300118    0.289515    0.278264    0.290952
min      0.008002    0.001967    0.000627    0.001585    0.003466
25%      0.288763    0.272799    0.244038    0.304005    0.274373
50%      0.533653    0.500824    0.472830    0.531691    0.500646
75%      0.766159    0.806936    0.738511    0.750607    0.775747
max      0.998670    0.996796    0.998416    0.996606    0.998319

In [17]:
newdd.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [18]:
newdd[0][0]='harry'
newdd.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [19]:
newdd.head()

          0         1         2         3         4
0     harry  0.727668  0.219727  0.723347  0.479049
1  0.672552  0.957207  0.932130  0.408776  0.680243
2  0.059311  0.788649  0.037650  0.827825  0.229384
3    0.7657  0.567428  0.449096  0.934590  0.453232
4  0.505044  0.510695  0.433856  0.090491  0.883064

In [20]:
newdd.index    #indexing sari

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [21]:
newdd.columns

RangeIndex(start=0, stop=5, step=1)

In [22]:
#to convert to numpy array
newdd.to_numpy()        #last m dtype object likha hai kyuki it has harry shuru m

array([['harry', 0.7276679035373758, 0.21972686285289733,
        0.7233474648813897, 0.4790493287256712],
       [0.6725518115228869, 0.957206852327507, 0.9321303222913206,
        0.408775530743278, 0.6802425450737692],
       [0.059311320237325216, 0.7886490066751991, 0.03764977400224956,
        0.8278249985023945, 0.2293843033191132],
       ...,
       [0.6931290569312386, 0.4499051249417354, 0.8140452226184549,
        0.266732049280479, 0.08398491412231623],
       [0.6791128277077002, 0.2912981415790964, 0.4776709228157364,
        0.35130019260554224, 0.6150385450694289],
       [0.13803354592037298, 0.42823078713459595, 0.30574011592711725,
        0.7536439076459794, 0.8528035064683559]], dtype=object)

In [23]:
newdd[0][0]=0.3
newdd

            0         1         2         3         4
0         0.3  0.727668  0.219727  0.723347  0.479049
1    0.672552  0.957207  0.932130  0.408776  0.680243
2    0.059311  0.788649  0.037650  0.827825  0.229384
3      0.7657  0.567428  0.449096  0.934590  0.453232
4    0.505044  0.510695  0.433856  0.090491  0.883064
..        ...       ...       ...       ...       ...
329  0.229009  0.379761  0.331954  0.760971  0.926863
330  0.259513  0.726546  0.724057  0.252669  0.003917
331  0.693129  0.449905  0.814045  0.266732  0.083985
332  0.679113  0.291298  0.477671  0.351300  0.615039
333  0.138034  0.428231  0.305740  0.753644  0.852804

[334 rows x 5 columns]

In [24]:
newdd.to_numpy()      #vps dtype object hi h.

array([[0.3, 0.7276679035373758, 0.21972686285289733, 0.7233474648813897,
        0.4790493287256712],
       [0.6725518115228869, 0.957206852327507, 0.9321303222913206,
        0.408775530743278, 0.6802425450737692],
       [0.059311320237325216, 0.7886490066751991, 0.03764977400224956,
        0.8278249985023945, 0.2293843033191132],
       ...,
       [0.6931290569312386, 0.4499051249417354, 0.8140452226184549,
        0.266732049280479, 0.08398491412231623],
       [0.6791128277077002, 0.2912981415790964, 0.4776709228157364,
        0.35130019260554224, 0.6150385450694289],
       [0.13803354592037298, 0.42823078713459595, 0.30574011592711725,
        0.7536439076459794, 0.8528035064683559]], dtype=object)

In [25]:
newdd.T   #transpose

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.3,0.672552,0.059311,0.7657,0.505044,0.347973,0.622484,0.261333,0.976928,0.878271,...,0.816902,0.047377,0.915498,0.064971,0.230217,0.229009,0.259513,0.693129,0.679113,0.138034
1,0.727668,0.957207,0.788649,0.567428,0.510695,0.479563,0.55519,0.343998,0.894254,0.95825,...,0.155471,0.067451,0.254688,0.040575,0.15605,0.379761,0.726546,0.449905,0.291298,0.428231
2,0.219727,0.93213,0.03765,0.449096,0.433856,0.51305,0.033641,0.532846,0.730071,0.600614,...,0.186682,0.778268,0.429895,0.246649,0.492058,0.331954,0.724057,0.814045,0.477671,0.30574
3,0.723347,0.408776,0.827825,0.93459,0.090491,0.391331,0.201216,0.75449,0.772626,0.072039,...,0.781672,0.345645,0.241219,0.595838,0.64782,0.760971,0.252669,0.266732,0.3513,0.753644
4,0.479049,0.680243,0.229384,0.453232,0.883064,0.692016,0.078926,0.087198,0.067801,0.517285,...,0.05349,0.811991,0.478431,0.437774,0.65732,0.926863,0.003917,0.083985,0.615039,0.852804

In [26]:
newdd.sort_index(axis=1,ascending=False)  #by default ascending True hota hai.
                                         #ulta sort

            4         3         2         1         0
0    0.479049  0.723347  0.219727  0.727668       0.3
1    0.680243  0.408776  0.932130  0.957207  0.672552
2    0.229384  0.827825  0.037650  0.788649  0.059311
3    0.453232  0.934590  0.449096  0.567428    0.7657
4    0.883064  0.090491  0.433856  0.510695  0.505044
..        ...       ...       ...       ...       ...
329  0.926863  0.760971  0.331954  0.379761  0.229009
330  0.003917  0.252669  0.724057  0.726546  0.259513
331  0.083985  0.266732  0.814045  0.449905  0.693129
332  0.615039  0.351300  0.477671  0.291298  0.679113
333  0.852804  0.753644  0.305740  0.428231  0.138034

[334 rows x 5 columns]

In [27]:
newdd.head()

          0         1         2         3         4
0       0.3  0.727668  0.219727  0.723347  0.479049
1  0.672552  0.957207  0.932130  0.408776  0.680243
2  0.059311  0.788649  0.037650  0.827825  0.229384
3    0.7657  0.567428  0.449096  0.934590  0.453232
4  0.505044  0.510695  0.433856  0.090491  0.883064

In [28]:
newdd[0]
type(newdd[0])  #series ke combintion se data frame banta hai.

pandas.core.series.Series

In [29]:
newdd.copy()

            0         1         2         3         4
0         0.3  0.727668  0.219727  0.723347  0.479049
1    0.672552  0.957207  0.932130  0.408776  0.680243
2    0.059311  0.788649  0.037650  0.827825  0.229384
3      0.7657  0.567428  0.449096  0.934590  0.453232
4    0.505044  0.510695  0.433856  0.090491  0.883064
..        ...       ...       ...       ...       ...
329  0.229009  0.379761  0.331954  0.760971  0.926863
330  0.259513  0.726546  0.724057  0.252669  0.003917
331  0.693129  0.449905  0.814045  0.266732  0.083985
332  0.679113  0.291298  0.477671  0.351300  0.615039
333  0.138034  0.428231  0.305740  0.753644  0.852804

[334 rows x 5 columns]

In [30]:
newdd.loc[0,0]= 654

In [31]:
import numpy as np
import pandas as pd
newdd= pd.DataFrame(np.random.rand(334,5),index=np.arange(334))
newdd

            0         1         2         3         4
0    0.764998  0.186994  0.326351  0.142221  0.165322
1    0.508064  0.056325  0.659451  0.599776  0.046875
2    0.212118  0.906299  0.728754  0.664344  0.097366
3    0.925252  0.694927  0.511669  0.058034  0.304337
4    0.046555  0.440666  0.767649  0.268856  0.604710
..        ...       ...       ...       ...       ...
329  0.345162  0.056207  0.918972  0.648277  0.677200
330  0.881328  0.083914  0.611127  0.365045  0.240846
331  0.760844  0.608991  0.273268  0.124367  0.351408
332  0.211221  0.841561  0.790504  0.241158  0.712514
333  0.832785  0.239224  0.234892  0.597546  0.758479

[334 rows x 5 columns]

In [32]:
newdd.loc[0,0]=655
newdd.head(2)
newdd.columns= list("ABCDE")
newdd

              A         B         C         D         E
0    655.000000  0.186994  0.326351  0.142221  0.165322
1      0.508064  0.056325  0.659451  0.599776  0.046875
2      0.212118  0.906299  0.728754  0.664344  0.097366
3      0.925252  0.694927  0.511669  0.058034  0.304337
4      0.046555  0.440666  0.767649  0.268856  0.604710
..          ...       ...       ...       ...       ...
329    0.345162  0.056207  0.918972  0.648277  0.677200
330    0.881328  0.083914  0.611127  0.365045  0.240846
331    0.760844  0.608991  0.273268  0.124367  0.351408
332    0.211221  0.841561  0.790504  0.241158  0.712514
333    0.832785  0.239224  0.234892  0.597546  0.758479

[334 rows x 5 columns]

In [33]:
newdd.loc[0,'A']=65588
newdd

                A         B         C         D         E
0    65588.000000  0.186994  0.326351  0.142221  0.165322
1        0.508064  0.056325  0.659451  0.599776  0.046875
2        0.212118  0.906299  0.728754  0.664344  0.097366
3        0.925252  0.694927  0.511669  0.058034  0.304337
4        0.046555  0.440666  0.767649  0.268856  0.604710
..            ...       ...       ...       ...       ...
329      0.345162  0.056207  0.918972  0.648277  0.677200
330      0.881328  0.083914  0.611127  0.365045  0.240846
331      0.760844  0.608991  0.273268  0.124367  0.351408
332      0.211221  0.841561  0.790504  0.241158  0.712514
333      0.832785  0.239224  0.234892  0.597546  0.758479

[334 rows x 5 columns]

In [34]:
newdd.drop('C', axis=1)
newdd

                A         B         C         D         E
0    65588.000000  0.186994  0.326351  0.142221  0.165322
1        0.508064  0.056325  0.659451  0.599776  0.046875
2        0.212118  0.906299  0.728754  0.664344  0.097366
3        0.925252  0.694927  0.511669  0.058034  0.304337
4        0.046555  0.440666  0.767649  0.268856  0.604710
..            ...       ...       ...       ...       ...
329      0.345162  0.056207  0.918972  0.648277  0.677200
330      0.881328  0.083914  0.611127  0.365045  0.240846
331      0.760844  0.608991  0.273268  0.124367  0.351408
332      0.211221  0.841561  0.790504  0.241158  0.712514
333      0.832785  0.239224  0.234892  0.597546  0.758479

[334 rows x 5 columns]

In [35]:
newdd.loc[[1,2],['C','D']]
newdd

                A         B         C         D         E
0    65588.000000  0.186994  0.326351  0.142221  0.165322
1        0.508064  0.056325  0.659451  0.599776  0.046875
2        0.212118  0.906299  0.728754  0.664344  0.097366
3        0.925252  0.694927  0.511669  0.058034  0.304337
4        0.046555  0.440666  0.767649  0.268856  0.604710
..            ...       ...       ...       ...       ...
329      0.345162  0.056207  0.918972  0.648277  0.677200
330      0.881328  0.083914  0.611127  0.365045  0.240846
331      0.760844  0.608991  0.273268  0.124367  0.351408
332      0.211221  0.841561  0.790504  0.241158  0.712514
333      0.832785  0.239224  0.234892  0.597546  0.758479

[334 rows x 5 columns]

In [36]:
newdd.loc[0,0]=655
newdd.head(2)

              A         B         C         D         E      0
0  65588.000000  0.186994  0.326351  0.142221  0.165322  655.0
1      0.508064  0.056325  0.659451  0.599776  0.046875    NaN

In [37]:
newdd.loc[:,['C','D']] #rows

            C         D
0    0.326351  0.142221
1    0.659451  0.599776
2    0.728754  0.664344
3    0.511669  0.058034
4    0.767649  0.268856
..        ...       ...
329  0.918972  0.648277
330  0.611127  0.365045
331  0.273268  0.124367
332  0.790504  0.241158
333  0.234892  0.597546

[334 rows x 2 columns]

In [38]:
newdd.loc[[1,2],:] #columns

          A         B         C         D         E   0
1  0.508064  0.056325  0.659451  0.599776  0.046875 NaN
2  0.212118  0.906299  0.728754  0.664344  0.097366 NaN

In [39]:
newdd.loc[(newdd['A']<0.3)]  #for all values less than 0.3

            A         B         C         D         E   0
2    0.212118  0.906299  0.728754  0.664344  0.097366 NaN
4    0.046555  0.440666  0.767649  0.268856  0.604710 NaN
5    0.294140  0.047935  0.475158  0.237486  0.463540 NaN
10   0.193959  0.023718  0.243005  0.408444  0.327516 NaN
12   0.162833  0.928211  0.473583  0.956139  0.826684 NaN
..        ...       ...       ...       ...       ...  ..
318  0.287558  0.001026  0.322045  0.799655  0.582178 NaN
321  0.030241  0.112018  0.414705  0.244682  0.110513 NaN
325  0.106210  0.450156  0.297575  0.894013  0.082480 NaN
326  0.260343  0.799060  0.993639  0.637457  0.721225 NaN
332  0.211221  0.841561  0.790504  0.241158  0.712514 NaN

[96 rows x 6 columns]

In [40]:
newdd.loc[(newdd['A']<0.3)]

            A         B         C         D         E   0
2    0.212118  0.906299  0.728754  0.664344  0.097366 NaN
4    0.046555  0.440666  0.767649  0.268856  0.604710 NaN
5    0.294140  0.047935  0.475158  0.237486  0.463540 NaN
10   0.193959  0.023718  0.243005  0.408444  0.327516 NaN
12   0.162833  0.928211  0.473583  0.956139  0.826684 NaN
..        ...       ...       ...       ...       ...  ..
318  0.287558  0.001026  0.322045  0.799655  0.582178 NaN
321  0.030241  0.112018  0.414705  0.244682  0.110513 NaN
325  0.106210  0.450156  0.297575  0.894013  0.082480 NaN
326  0.260343  0.799060  0.993639  0.637457  0.721225 NaN
332  0.211221  0.841561  0.790504  0.241158  0.712514 NaN

[96 rows x 6 columns]

In [41]:
newdd.loc[(newdd['A']<0.3) & (newdd['C']>0.1)]

            A         B         C         D         E   0
2    0.212118  0.906299  0.728754  0.664344  0.097366 NaN
4    0.046555  0.440666  0.767649  0.268856  0.604710 NaN
5    0.294140  0.047935  0.475158  0.237486  0.463540 NaN
10   0.193959  0.023718  0.243005  0.408444  0.327516 NaN
12   0.162833  0.928211  0.473583  0.956139  0.826684 NaN
..        ...       ...       ...       ...       ...  ..
318  0.287558  0.001026  0.322045  0.799655  0.582178 NaN
321  0.030241  0.112018  0.414705  0.244682  0.110513 NaN
325  0.106210  0.450156  0.297575  0.894013  0.082480 NaN
326  0.260343  0.799060  0.993639  0.637457  0.721225 NaN
332  0.211221  0.841561  0.790504  0.241158  0.712514 NaN

[90 rows x 6 columns]

In [42]:
newdd.head(2)

              A         B         C         D         E      0
0  65588.000000  0.186994  0.326351  0.142221  0.165322  655.0
1      0.508064  0.056325  0.659451  0.599776  0.046875    NaN

In [43]:
newdd.iloc[0,4]   #if you want to use the name use loc and if you wanna target the index use iloc.

0.16532247315071247

In [44]:
newdd.iloc[[0,15],[1,2]]

           B         C
0   0.186994  0.326351
15  0.480110  0.836510

In [45]:
newdd.head(3)

              A         B         C         D         E      0
0  65588.000000  0.186994  0.326351  0.142221  0.165322  655.0
1      0.508064  0.056325  0.659451  0.599776  0.046875    NaN
2      0.212118  0.906299  0.728754  0.664344  0.097366    NaN

In [46]:
newdd.reset_index(drop=True)

                A         B         C         D         E      0
0    65588.000000  0.186994  0.326351  0.142221  0.165322  655.0
1        0.508064  0.056325  0.659451  0.599776  0.046875    NaN
2        0.212118  0.906299  0.728754  0.664344  0.097366    NaN
3        0.925252  0.694927  0.511669  0.058034  0.304337    NaN
4        0.046555  0.440666  0.767649  0.268856  0.604710    NaN
..            ...       ...       ...       ...       ...    ...
329      0.345162  0.056207  0.918972  0.648277  0.677200    NaN
330      0.881328  0.083914  0.611127  0.365045  0.240846    NaN
331      0.760844  0.608991  0.273268  0.124367  0.351408    NaN
332      0.211221  0.841561  0.790504  0.241158  0.712514    NaN
333      0.832785  0.239224  0.234892  0.597546  0.758479    NaN

[334 rows x 6 columns]

In [47]:
newdd.loc[:,['B']]=None
newdd['B'].isnull()

0      True
1      True
2      True
3      True
4      True
       ...
329    True
330    True
331    True
332    True
333    True
Name: B, Length: 334, dtype: bool

In [48]:

import numpy as np
import pandas as pd
newdd= pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

newdd.loc[[1],:]=None
newdd

            0         1         2         3         4
0    0.222544  0.384192  0.546559  0.505143  0.926637
1         NaN       NaN       NaN       NaN       NaN
2    0.064918  0.197376  0.421454  0.561051  0.953050
3    0.036170  0.820606  0.126028  0.561176  0.263168
4    0.011455  0.185481  0.693018  0.750014  0.327779
..        ...       ...       ...       ...       ...
329  0.457627  0.590100  0.273105  0.028401  0.206685
330  0.216922  0.091776  0.908973  0.342486  0.898588
331  0.341087  0.868046  0.210758  0.511754  0.114608
332  0.643222  0.183148  0.847416  0.368158  0.311496
333  0.745905  0.274948  0.261825  0.180670  0.802722

[334 rows x 5 columns]

In [49]:
df= pd.DataFrame({"name":["ALFAFA","BATMAN","CATWOMAN"],
                  "toy":[np.nan,"BATMOBILE","BULLWHIP"],
                  "born":[pd.NaT,pd.Timestamp("1940-04-25"),
                          pd.NaT]})
df.head()

       name        toy       born
0    ALFAFA        NaN        NaT
1    BATMAN  BATMOBILE 1940-04-25
2  CATWOMAN   BULLWHIP        NaT

In [50]:
df.dropna()

     name        toy       born
1  BATMAN  BATMOBILE 1940-04-25

In [51]:
df.drop_duplicates(subset=["name"],keep=False)

       name        toy       born
0    ALFAFA        NaN        NaT
1    BATMAN  BATMOBILE 1940-04-25
2  CATWOMAN   BULLWHIP        NaT

In [52]:
df.shape

(3, 3)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   toy     2 non-null      object
 2   born    1 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 200.0+ bytes

In [54]:
df.describe()

<ipython-input-54-ea8415b8a3ee>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

          name        toy                 born
count        3          2                    1
unique       3          2                    1
top     ALFAFA  BATMOBILE  1940-04-25 00:00:00
freq         1          1                    1
first      NaN        NaN  1940-04-25 00:00:00
last       NaN        NaN  1940-04-25 00:00:00

In [55]:
df["name"].value_counts(dropna=True)

ALFAFA      1
BATMAN      1
CATWOMAN    1
Name: name, dtype: int64

In [56]:
df.notnull()

   name    toy   born
0  True  False  False
1  True   True   True
2  True   True  False

In [57]:
df.isnull()

    name    toy   born
0  False   True   True
1  False  False  False
2  False  False   True

In [58]:
#create a dataframe which contains only integers with 3 rows and 2 columns
#run the following dataframe methods on them:
'''df.describe()
df.mean()
df.corr()
df.count()
df.max()
df.min()
df.median()
df.std()'''
import numpy as np
import pandas as pd
df= pd.DataFrame({"name":["aaa","bbb"],
                 "class":[1,2],
                 "book":["sss","ppp"]})
df

  name  class book
0  aaa      1  sss
1  bbb      2  ppp

In [59]:
df.mean()

<ipython-input-59-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

class    1.5
dtype: float64

In [60]:
df.corr()

       class
class    1.0

In [61]:
df.count()

name     2
class    2
book     2
dtype: int64

In [62]:

df.max()

name     bbb
class      2
book     sss
dtype: object

In [63]:
df.min()

name     aaa
class      1
book     ppp
dtype: object

In [64]:
df.median()

<ipython-input-64-6d467abf240d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

class    1.5
dtype: float64

In [65]:
df.std()

<ipython-input-65-ce97bb7eaef8>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

class    0.707107
dtype: float64